<h1>add a dish</h1>

<form action="/dish-creation" method="post">
  <label for="category">Category</label>
  <select id="category" name="category">
    <option value="starter">Starter</option>
    <option value="main">Main</option>
    <option value="dessert">Dessert</option>
  </select>
  <p>
    <label for="name">Dish Name:</label>
    <input type="text" id="name" name="name"/>
    <label for="price">Dish Price:</label>
    <input type="number" id="price" name="price"/>
  </p>

  <button type="submit" value="Add Dish">Add Dish</button>
</form>
